doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      include inc/banner.jade
      section.main-category-bach-hoa.pad20_0
        a.item(href='#')
          .bg1.inner
            h5 đồ khô
            .img.hover-img2.animated
              img(src='img/bachhoa/home/givi 1.png')
        a.item(href='#')
          .bg2.inner
            h5 sữa
            .img.hover-img2.animated
              img(src='img/bachhoa/home/sua 1.png')
        a.item(href='#')
          .bg3.inner
            h5 thịt
            .img.hover-img2.animated
              img(src='img/bachhoa/home/image 148.png')
        a.item(href='#')
          .bg4.inner
            h5 đồ dùng 
              br
              | gia đình
            .img.hover-img2.animated
              img(src='img/bachhoa/home/Group 133.png')
        a.item(href='#')
          .bg5.inner
            h5 gà nhập
              br 
              | khẩu
            .img.hover-img2.animated
              img(src='img/bachhoa/home/image 149.png')
        a.item(href='#')
          .bg6.inner
            h5 nấm
            .img.hover-img2.animated
              img(src='img/bachhoa/home/image 150.png')
        a.item(href='#')
          .bg7.inner
            h5 hải sản
            .img.hover-img2.animated
              img(src='img/bachhoa/home/image 151.png')
        a.item(href='#')
          .bg8.inner
            h5 trái cây
            .img.hover-img2.animated
              img(src='img/bachhoa/home/image 152.png')
      section.products2.heading-bachhoa.padtp30_0
        .container
          h2 sản phẩm bán chạy
          .swiper-container
            ul.nav.nav-tabs.padtp30_0.swiper-wrapper
              li.swiper-slide
                h3.active.show(data-toggle='tab', href='#cate1_tab1') Trái cây
              li.swiper-slide
                h3(data-toggle='tab', href='#cate1_tab2') Rau củ
              li.swiper-slide
                h3(data-toggle='tab', href='#cate1_tab3') Hải sản
              li.swiper-slide
                h3(data-toggle='tab', href='#cate1_tab4') Các loại thịt
          .tab-content
            #cate1_tab1.tab-pane.fade.in.active.show
              .row
                .main-products.swiper-container.pad30_0
                  ul.swiper-wrapper
                    -for(i=0;i<8;i++)
                      li.swiper-slide
                        .item
                          a(href="#")
                            .img.hover-img.animated
                              img.lazy(data-src='img/bachhoa/img3.jpg')
                            h5 Bánh gạo One-One Gold vị Phô mai ngô gói 118g
                            span.options
                              span.price
                                span.new 15.000đ
                          a.add-to-cart
                            img(src='img/bachhoa/cart.svg')
                            span Thêm vào giỏ hàng
                a.xem-them Xem thêm
                .banner-bachhoa.pad30_0.swiper-container
                  ul.swiper-wrapper
                    li.swiper-slide
                      a.item(href='#')
                        img.lazy(data-src='img/bachhoa/Rectangle 187.jpg')
                    li.swiper-slide
                      a.item(href='#')
                        img.lazy(data-src='img/bachhoa/Rectangle 187.jpg')
            #cate1_tab2.tab-pane.fade
            #cate1_tab3.tab-pane.fade
            #cate1_tab4.tab-pane.fade
      section.products2.heading-bachhoa.padtp30_0
        .container
          h2 sữa và sản phẩm 
            br
            | từ sữa
          .row
            .main-products.swiper-container.pad30_0
              ul.swiper-wrapper
                -for(i=0;i<8;i++)
                  li.swiper-slide
                    .item
                      a(href="#")
                        .img.hover-img.animated
                          img.lazy(data-src='img/bachhoa/img3.jpg')
                        h5 Bánh gạo One-One Gold vị Phô mai ngô gói 118g
                        span.options
                          span.price
                            span.new 15.000đ
                      a.add-to-cart
                        img(src='img/bachhoa/cart.svg')
                        span Thêm vào giỏ hàng
            a.xem-them Xem thêm
            .banner-bachhoa.pad30_0.swiper-container
              ul.swiper-wrapper
                li.swiper-slide
                  a.item(href='#')
                    img.lazy(data-src='img/bachhoa/Rectangle 187.jpg')
                li.swiper-slide
                  a.item(href='#')
                    img.lazy(data-src='img/bachhoa/Rectangle 187.jpg')
      section.products2.heading-bachhoa.pad30_0
        .container
          h2 sữa và sản phẩm 
            br
            | từ sữa
          .row
            .main-products.swiper-container.pad30_0
              ul.swiper-wrapper
                -for(i=0;i<8;i++)
                  li.swiper-slide
                    .item
                      a(href="#")
                        .img.hover-img.animated
                          img.lazy(data-src='img/bachhoa/img3.jpg')
                        h5 Bánh gạo One-One Gold vị Phô mai ngô gói 118g
                        span.options
                          span.price
                            span.new 15.000đ
                      a.add-to-cart
                        img(src='img/bachhoa/cart.svg')
                        span Thêm vào giỏ hàng
            a.xem-them Xem thêm
      include inc/footer.jade
      include inc/script.jade