doctype
html
  include inc/head.jade
  body.m
    #wrapper_mobile.bg_white
      include inc/header.jade
      include inc/banner.jade
      include inc/spatrilieu.jade
      include inc/trainghiemdichvu.jade
      include inc/dichvu.jade
      include inc/video.jade
      include inc/customer.jade
      include inc/booking.jade
      include inc/footer.jade
      include inc/script.jade