doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile.page_videos
      // Header
      header#header.pad40_20.header2
        .nav-top
          .container
            .row.align-items-center.justify-content-between
              .col-1
                a.menu-back(href='javascript:void(0)')
                  i.fas.fa-chevron-left
              .col-8
                h2 Video
              .col-3.row.align-items-end.justify-content-between
                .search
                  a(href='javascript:void(0)')
                    img(src='img/i-search.png', alt='')
                .cart
                  img(src='img/i-cart.png', alt='')
                  span 5
      include inc/banner_video.jade
      .swiper-container.pad30_0
        ul.swiper-wrapper
          -for(i=0;i<3;i++)
            li.swiper-slide.item
              .img
                img(src='img/video/video2.jpg', alt='First slide')
                a.popup-youtube(href="https://www.youtube.com/watch?v=aMwvlC6RdHc?autoplay=1&amp;rel=0" id="video1")
                  i.far.fa-play-circle
              h3 Overwatch With Peter Dinklage And Lena Headey
              span Jenifer Lopez |  MAY 27, 2016
      .list_category.pad30_0
        h2 Làm đẹp video
        -for(i=0;i<3;i++)
          .item
            .img
              img(src='img/video/video2.jpg', alt='')
              a.popup-youtube(href="https://www.youtube.com/watch?v=aMwvlC6RdHc?autoplay=1&amp;rel=0" id="video1")
                i.far.fa-play-circle
            h3 Overwatch With Peter Dinklage And Lena Headey
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
            span Jenifer Lopez |  MAY 27, 2016
        a(href="#").readmore Xem thêm
      .list_category.pad30_0
        h2 Đời sống video
        -for(i=0;i<3;i++)
          .item
            .img
              img(src='img/video/video2.jpg', alt='')
              a.popup-youtube(href="https://www.youtube.com/watch?v=aMwvlC6RdHc?autoplay=1&amp;rel=0" id="video1")
                i.far.fa-play-circle
            h3 Overwatch With Peter Dinklage And Lena Headey
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
            span Jenifer Lopez |  MAY 27, 2016
        a(href="#").readmore Xem thêm
      .list_category.pad30_0
        h2 Cinema
        -for(i=0;i<3;i++)
          .item
            .img
              img(src='img/video/video2.jpg', alt='')
              a.popup-youtube(href="https://www.youtube.com/watch?v=aMwvlC6RdHc?autoplay=1&amp;rel=0" id="video1")
                i.far.fa-play-circle
            h3 Overwatch With Peter Dinklage And Lena Headey
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
            span Jenifer Lopez |  MAY 27, 2016
        a(href="#").readmore Xem thêm
      
      include inc/footer.jade
      include inc/script.jade