//Banggia
section.heading2.pad30_0
  .container
    h2 
      span BẢNG GIÁ
    .main-bang-gia.owl-carousel.owl-theme
      -for(i=0;i<3;i++)
        .item
          ._item
            ._left
              h4 Meaasage da mặt
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            ._right
              span.price 500K
              a(href="#") Book ngay
          ._item
            ._left
              h4 Meaasage da mặt
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            ._right
              span.price 500K
              a(href="#") Book ngay
          ._item
            ._left
              h4 Meaasage da mặt
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            ._right
              span.price 500K
              a(href="#") Book ngay    