// Banner Video
section.banner_video
  .owl-carousel.owl-theme.main-banner
    .item
      .img
        img(src='img/video/video1.jpg', alt='First slide')
        a.popup-youtube(href="https://www.youtube.com/watch?v=aMwvlC6RdHc?autoplay=1&amp;rel=0" id="video1")
          i.far.fa-play-circle
      h3 Overwatch With Peter Dinklage And Lena Headey
      span Jenifer Lopez |  MAY 27, 2016