// Banner
section.banner
  .owl-carousel.owl-theme.main-banner
    a.item(href='#')
      img.lazy(data-src='img/bachhoa/home/banner.jpg')
    a.item(href='#')
      img.lazy(data-src='img/bachhoa/home/banner.jpg')