// Banner
section.banner
  .owl-carousel.owl-theme.main-banner
    a.item(href='#')
      .caption
        h2 Fruice Juice Orange
        p mango organic
        span mua ngay
      img.lazy(data-src='img/bachhoa/home/image 158.jpg')
    a.item(href='#')
      .caption
        h2 Fruice Juice Orange
        p mango organic
        span mua ngay
      img.lazy(data-src='img/bachhoa/home/image 158.jpg')