//Booking
section.section-booking
    form.booking(action="")
        ._top
            h2 Đặt chỗ trước
            .number
                span Số lượng người (*):
                input(type="number" value="1")
        ._middle
            h3 Thời gian có thể hẹn
            ._listdate
                ._date 
                    span Thứ 2 - ngày 8
                ._date 
                    span Thứ 2 - ngày 8
                ._date 
                    span Thứ 2 - ngày 8
            ._chosedate
                input(type="text" id="datepicker")
                select(name="chon")
                    option(value="") Message đầu cổ vai
            ._listtime
                -for(i=0;i<9;i++)
                    ._time 
                        span 8:30
        ._bottom
            input(type="text" name='hovaten' placeholder="Họ và tên (*)" required)
            input(type="text" name='sodienthoai' placeholder="Số điện thoại (*)" required)
            input(type="email" name='email' placeholder="Email (*)" required)
            input(type="text" name='magiamgia' placeholder="Mã giảm giá" required)
        input(type="submit" value="Đặt ngay").submit
