//Customer
section.heading2.pad30_0
  .container
    .row
      .col-lg-12
        h2 
          span KHÁCH HÀNG NÓI VỀ AN’S SPA
    .row.padtp30_0
      .owl-carousel.owl-theme.main-customer 
        -for(i=0;i<4;i++)
          .item
            .bg_
              p Lorem ipsum debet causae disputando cu, duis malis percip it ut vix. Duo et cor pora accusamus, ut eam dico doctu ali quando. No sente. Lorem ipsum debet causae disputando cu, duis malis percip it ut vix. Duo et cor pora accusamus, ut eam dico doctu ali quando. No sente.
              span.name Nguyễn Hà Nhi
            .caption
              img(src='img/spa/spa3.png', alt='')
              span.rating
                i.fa.fa-star.green 
                i.fa.fa-star.green
                i.fa.fa-star.green
                i.fa.fa-star.green
                i.fa.fa-star
                
              