//Dịch vụ
section.heading2.pad30_0.main-spa-2
  .container
    h2 
      span DỊCH VỤ NỔI BẬT
    .swiper-container.pad30_0
      ul.swiper-wrapper
        -for(i=0;i<3;i++)
          li.swiper-slide
            a(href="#").item
              img(src='img/spa/spa2.png', alt='')
              .caption
                h3 DỊCH VỤ TƯ VẤN & TRỊ LIỆU TẠI NHÀ
                p Các bài massage ấn huyệt trị liệu của AN’s spa ứng dụng kỹ thuật day ấn huyệt, y học cổ 
                span Xem chi tiết

              