// Footer
footer#footer-new
  .footer-top.pad30_0
    .container
      .col-12
        .item
          h4 Tổng đài hỗ trợ:
          img.lazy(data-src='img/icon.jpg', alt='')
          a(href='tel:0888845999') 08888 45 999
        .item
          img.lazy(data-src='img/f1.png')
          h3 Cam kết hàng chính hãng
        .item
          img.lazy(data-src='img/f2.png')
          h3 Tích điểm thành viên vip
        .item
          img.lazy(data-src='img/f3.png')
          h3 Miễn phí vận chuyển
        .item
          img.lazy(data-src='img/f4.png')
          h3 Chăm sóc tư vấn tận tình
  .footer-bottom
    .container
      .col-12
        a.footer-logo(href='#')
          img.padbt0_20(src='img/logo.jpg', alt='')
        p
          span(style='text-decoration: underline;margin: 0 5px 0 0') HCM:
          | 49 Hoa Sứ, P.7, Q.Phú Nhuận
        p
          span(style='text-decoration: underline;margin: 0 5px 0 0') HN:
          | Tòa Nhà AC, 79 Duy Tân Cầu Giấy
        a(href='#')
          img.padtp30_0(src='img/bocongthuong.png', alt='')
.nav-fix-bt
  .item
    a(href='#')
      i.fa.fa-home
      span Home
  .item
    a(href='#')
      i.fa.fa-tag
      span Khuyến mãi
  .item
    a(href='#')
      i.fas.fa-file-alt
      span Tin tức
  .item
    a(href='#')
      i.fa.fa-user
      span Tài khoản
.menu-mobile
  span.close_mobile
    i.fa.fa-times
  ul
    li
      a(href='#') Thương hiệu
    li
      a(href='#') Chăm sóc da
      ul.sub
        li
          a(href='#') -  Da nhạy cảm
        li
          a(href='#') -  Điều trị rạn nứt da
    li
      a(href='#') Collagen
    li
      a(href='#') Mi, mày, tóc
    li
      a(href='#') Sức khỏe
    li
      a(href='#') Giảm cân
    li
      a(href='#') Nước hoa
    li
      a(href='#') Trang điểm
    li
      a(href='#') Kinh nghiệm làm đẹp

