script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/bootstrap.js')
script(type='text/javascript', src='js/owl.carousel.min.js')
script(type='text/javascript', src='js/jquery.lazy.js')
script(type='text/javascript', src='js/swiper.js')
script(type='text/javascript', src='js/jquery.magnific-popup.js')
script(type='text/javascript', src='js/jquery-ui.js')
script(type='text/javascript', src='js/map.js')
script(type='text/javascript', src='js/main.js')