//Trai nghiem dich vu
section.section-trai-nghiem-dich-vu
  .container
    img(src="img/spa/img1.png")
    .heading2
      h2 
        span TRẢI NGHIỆM DỊCH VỤ
      p Chào mừng bạn đến với An’s Spa Với các bài massage ứng dụng khí công và day ấn huyệt, đặc biệt là massage đầu có 1 không 2 tại Việt Nam, được nghiên cứu bởi chuyên gia trên 25 năm kinh nghiệm trong ngành, An’s Spa sẽ đáp ứng đa dạng nhu cầu của bạn từ thư giãn đến điều trị bệnh lý. Đội ngũ của An’s Spa luôn tận tâm, hết lòng vì sự hài lòng, sức khoẻ và sắc đẹp của khách hàng.
      a(href="#") đặt lịch ngay