section.heading2.pad30_0.main-video
  .container
    h2 
      span Video
    .swiper-container.pad30_0
      ul.swiper-wrapper
        -for(i=0;i<3;i++)
          li.swiper-slide
            img.d-block.w-100(src='img/spa/img2.jpg', alt='First slide')
            a.popup-youtube(href="https://www.youtube.com/watch?v=aMwvlC6RdHc?autoplay=1&amp;rel=0" id="video1")
              i.far.fa-play-circle